@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Bree+Serif&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
   
}

body{
    width: 100%;
    background: url("train.jpg") no-repeat center center/cover;
    background-color: aqua;
    background-position: center;
    background-size: cover;
    height: 100vh;
}


.overlay{
    height: 100vh;
    width: 100vw;
    background-color: #00000096;
    position: absolute;
    top: 0;
    z-index: -1;
}
.logo{
    height:72px;
}
.navbar{
    width: 1200px;
    height: 75px;
    z-index: 1;
}

.icon{
    width: 130px;
    float: left;
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo{
    color: rgb(13, 168, 200);
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 4px;
    margin-top: 5px
}
.logofont{
    width: 3rem;
    color: rgb(50, 50, 245);
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color:blue;
}



.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid blue;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: blue;
    border: 2px solid blue;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}
.maintext{
    width: 50vw;
}

.content{
    height: auto;
    color: #fff;
    display: flex;
    flex-direction: row;
    padding-left: 4vw;
    justify-content: space-around;
    margin-top: 4rem;

}

.content .par{
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    margin-top: 1rem;
    letter-spacing: 2px;
    margin-bottom: -5rem;
}
.content span{
    display: inline;
    margin-bottom: 6px;
}

.maintext{
    display: grid;
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: blue;
    font-size: 65px
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
    margin-top: 2rem;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: blue;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid blue;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}
::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: rgb(62, 62, 234);
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: blue;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: rgb(13, 168, 200);
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: rgb(13, 168, 200);
}
.par{
    text-shadow:1px 1px 2px rgb(13, 168, 200);
}
